@import "config";

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
    width: 100%;
    height: 650px;
    background: url(/images/mobile/image-hero.jpg) no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: auto;
    padding: 4rem 2.4rem;
    display: flex;
    flex-direction: column;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 5;
    }

    &--close {
        display: none;
    }

    &__nav {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: black;
        padding: 0 2.4rem;
        align-items: center;
        display: none;

        li {
            padding: 1.2rem 0;
        }
    }

    &--link {
        @include link;
    }

    &__message {
        margin: auto 0;
        border: 2px solid white;
        padding: 2.5rem 2.5rem 1.5rem;

        p {
            color: white;
            text-transform: uppercase;
            font-size: 4rem;
        }
    }
}

.logo {
    width: 150px;
}

.nav {
    list-style: none;
}

.main {
    padding: 10rem 2.5rem 2.2rem;
    max-width: 1440px;
    margin: auto;

    &__img {

        img {
            width: 100%;
        }
    }

    &__body {
        padding: 5rem 2.5rem;
        text-align: center;

        h1 {
            font-size: 3.2rem;
            text-transform: uppercase;
            color: black;
            margin-bottom: 1.5rem;
        }

        p {
            font-family: 'Alata', sans-serif;
            color: $pri-d-gray;
            line-height: 1.7;
        }
    }
}

.creation {
    padding: 2.5rem 2.5rem 10rem;
    max-width: 1440px;
    margin: auto;
    text-align: center;

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    h2 {
        text-transform: uppercase;
        font-size: 3.2rem;
    }

    &__cards-mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        gap: 2.5rem;
        margin-bottom: 3.2rem;
    }

    &__card {
        position: relative;

        img {
            width: 100%;
            object-fit: cover;
            filter: brightness(70%);
        }

        span {
            display: block;
            color: white;
            text-transform: uppercase;
            position: absolute;
            bottom: 2rem;
            left: 2rem;
            font-size: 2.4rem;
            width: 40%;
            text-align: left;
            opacity: .8;
        }

        &:nth-child(4) > span {
            width: 25%;
        }

        &:hover {
            cursor: pointer;
            opacity: .5;
        }
    }

    &__cards-desktop {
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        gap: 2.5rem;
        margin-bottom: 3.2rem;
        display: none;
    }
}

.btn {
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    background: white;
    border-radius: 0;
    border: 1px solid black;
    font-family: 'Alata', sans-serif;
    letter-spacing: 4px;
    cursor: pointer;

    &:hover {
        color: white;
        background: black;
        transition: all .3s ease-in-out;
    }

    &--hidden {
        display: none;
    }
}

.footer {
    background: black;

    &__container {
        padding: 5.5rem 0;
        max-width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
        justify-items: center;
    }

    &--nav {
        text-align: center;

        li {
            padding: .8rem 0
        }
    }

    &--link {
        @include link;
        font-family: 'Alata', sans-serif;
        text-transform: capitalize;
        font-size: 1.5rem;

        &::after {
            width: 50%;
            position: relative;
            transform-origin: right;
            left: 25%;
        }

        &:hover::after {
            transform-origin: left;
        }
    }

    &__social {

        svg {
            cursor: pointer;
            margin: 0 .5rem;

            &:hover {
                transform: scale(1.2);
                transition: all .3s ease-out;

                path {
                    fill: $neu-v-d-gray;
                }
            }
        }
    }

    &__copy {
        color: $neu-v-d-gray;
        font-family: 'Alata', sans-serif;
        text-align: center;
    }

    &--distribution {
        display: inline-block;
        color: $pri-d-gray;

        &:hover {
            color: white;
            transform: rotateX(30deg);
        }
    }
}

.fade-in {
    animation: fadeIn .4s ease-in;
}

@keyframes fadeIn{
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@import "responsive";